<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>购物车</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/Home/css/iconfont/iconfont.css" rel="stylesheet"/>
    <link href="__PUBLIC__/Home/css/common.css" rel="stylesheet"/>
    <link href="__PUBLIC__/Home/css/cart.css" rel="stylesheet"/>
</head>
<body class="graybg-theme">
    <!--头部-->
        <include file="Public:Header-cart" />
        <div class="cart-header wrapper">
            <div class="logo">
                <a href="index.html"><img src="img/logo.png" alt="logo" /></a>
            </div>
            <div class="step-box">
                <div class="row">
                    <div class="step first active col-3">
                        <span class="num">1</span><span class="line"></span><span class="label">我的购物车</span>
                    </div>
                    <div class="step col-3">
                        <span class="num">2</span><span class="line"></span><span class="label">确认订单信息</span>
                    </div>
                    <div class="step col-3">
                        <span class="num">3</span><span class="line"></span><span class="label">选择支付方式</span>
                    </div>
                    <div class="step last col-3">
                        <span class="num">4</span><span class="line"></span><span class="label">完成付款</span>
                    </div>
                </div>
            </div>
        </div>

    <!--头部-->

    <div class="wrapper">
        <form action="{:U('Cart/doCart')}" method="post">
        <table class="cart-table">
            <thead>
                <tr class="hd">
                    <th width="40px" class="first"><label class="check"><input id="checkall" type="checkbox" name="" /><span></span></label></th>
                    <th width="330px">商品名称</th>
                    <th width="180px">单价</th>
                    <th width="190px">数量</th>
                    <th width="180px">小计</th>
                    <th width="190px">操作</th>
                </tr>
            </thead>
            
            <tbody>
                <!-- 做商铺状态判断 -->
                <foreach name="CartInfo" item="list">
                <if condition="($list['status'] neq 3) or ($list['delsta'] neq 2)">
                    <!-- 上架 -->
                <tr class="goods">
                    <td class="first"><div class="check"><input type="checkbox" name="propid" value="{$list['propid']}" /></div></td>
                     <else/>
                    <!-- 已下架的商品 -->
                    <tr class="goods goods-useless">
                    <td class="first"><span>失效</span></td>
                    </if>
                    <!-- 商品信息 -->
                    <td>
                        <div class="info-box">
                            <img src="__ROOT__/Uploads{:$list['colorpic']}" alt="">
                            <div class="info">
                                <div class="name">{$list['gname']}</div>
                                <div class="meta"><span>{$list['color']}</span><span>{$list['size']}</span></div>
                            </div>
                        </div>
                    </td>
                    <!-- 单价 -->
                    <td>￥<span class="unitprice">{:$list['price']*$list['discount']/100}</span></td>
                    <!-- 商品数量 -->
                    <td>
                    <if condition="$list['status'] neq 3">
                    <!-- 上架 -->
                        <div class="mod-numbox cart-numbox" data-max="{:(int)$list['store']}">
                            <span class="count-minus">{$list['propid']}</span>
                            <input class="count-input" value="{$list['num']}"  type="text" name="num" />
                            <span class="count-plus">{$list['propid']}</span>
                        </div>
                     <else/>
                    <!-- 已下架的商品 -->
                        已下架
                    </if>
                    </td>
                    <!-- 小计 -->
                    <td class="txt-error">￥<span class="price">-</span></td>
                    <td><a href="javascript:;" class="del iconfont icon-shanchu" propid="{$list['propid']}"></a></td>
                </tr>
                </foreach>
            </tbody>
        </table>
        <div class="cart-total-box">
            <div class="cart-total">
                <div class="fl">
                    <div class="back"><a href="">继续购物</a></div><div class="count">共 <span class="num" id="totalNum">1</span> 件商品， 已选择 <span class="num" id="selectedNum">{$total}</span> 件</div>
                </div>
                <div class="fr">
                    <div class="price">
                        合计（不含运费）：<span id="totalMoney">988.00</span>元
                    </div>
                    <a class="go-account ui-btn-theme" href="javascript:;">去结算</a>
                </div>
            </div>
        </div>
        </form>
    </div>

    <!--脚部-->
    <div class="fatfooter">

    </div>
    <!--脚部-->
</body>
<script src="__PUBLIC__/Home/js/jquery.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Home/js/icheck/style.css"/>
<script src="__PUBLIC__/Home/js/icheck/icheck.min.js"></script>
<script src="__PUBLIC__/Home/js/global.js"></script>
<script>

    // /*去结算*/
    var checked_id = [];
    var num = [];
    var i = 0;
    var goods = [];
    $('.go-account').click(function() {

        $('.goods input:checked').each(function(){
            checked_id[i] = $(this).val();
            i++;
        });
        list = checked_id.join(',');
        console.log(checked_id); 
        console.log(list); 
        location.href = "{:U('Home/Order/index/Ids/"+list+"')}"
    });
    /*商品数量操作*/
    function goodsCount(o){
            if(!(o instanceof Object)) var o={};
            var inputCell = o.inputCell || ".count-input",
                minusCell = o.minusCell || ".count-minus",
                plusCell = o.plusCell || ".count-plus",
                disClass = o.disClass || "disabled";
            return this.each(function(){
                var $wrap = $(this),
                    $input = $(inputCell,$wrap),
                    $minus = $(minusCell,$wrap),
                    $plus = $(plusCell,$wrap),
                    maxnum=parseInt($wrap.attr('data-max')) || false,
                    minnum=$wrap.attr('data-min') || 1,
                    initnum=$input.val() || minnum;
                /*初始*/
                $input.val(initnum);
                checkIlegal();
                function checkIlegal(){
                    var value =parseInt($input.val());

                    //
                     if (maxnum&&value>maxnum) {
                        $input.val(maxnum);
                    }
                    else if (value<minnum) {
                        $input.val(minnum);
                    }
                    if(value<=minnum){
                        $minus.addClass(disClass);
                    }else{
                        $minus.removeClass(disClass);
                    }
                    if (value>=maxnum) {
                        $plus.addClass(disClass);
                    }else {
                        $plus.removeClass(disClass);
                    }

                }
                function checknull() {
                    var value =$input.val();
                    if(value === "" || value === "0"){
                        $input.val(minnum);
                    }
                }
                $input.keyup(function(evt){
                    var value = $(this).val();
                    var newvalue = value.replace(/[^\d]/g,"");
                    $(this).val(newvalue);
                    checknull();
                });
                // 
                $input.blur(function(){
                    console.log($(this).val());
                    checknull();
                    checkIlegal();
                })

                // 减
                $minus.click(function(){
                    var propid = $minus.html();
                    $.ajax({
                        type: "POST",
                        url: "{:U('Cart/cartChaNum')}",
                        data: {make:'-',propid:propid},
                        dataType: "json",
                        success: function(msg){
                            if (msg.status === 1) {
                                minus();
                                top_total = $('.cart-num').html();
                                $('.cart-num').html(Number(top_total)-1);
                                xxoo123();
                            } else {
                                console.log(msg);
                            }
                            checkIlegal();
                        }
                    });
                    
                });

                // 加
                $plus.click(function(){
                    var propid = $plus.html();
                    $.ajax({
                        type: "POST",
                        url: "{:U('Cart/cartChaNum')}",
                        data: {make:'+',propid:propid},
                        dataType: "json",
                        success: function(msg){
                            if (msg.status === 1) {
                                add();
                                top_total = $('.cart-num').html();
                                $('.cart-num').html(Number(top_total)+1);
                                xxoo123();
                            } else {
                                alert(msg.msg);
                            }
                            checkIlegal();
                            console.log(msg);
                        }
                    });
                    
                });

                function add () {
                    var value = $input.val();
                    var plus = parseInt(value)+1;
                    $input.val(plus);
                }
                function minus () {
                    var value = parseInt($input.val());
                    var minus = value-1;
                    $input.val(minus);
                }
            });
        }
        $.fn.goodsCount = goodsCount;
        function xxoo123() {
            var box=$('.cart-table');
            function caculate () {
                var selectNum=0,
                totalNum=0,
                totalPrice=0;
                checkNum=0,
                itemlen=box.find('.goods:not(.goods-useless)').length;
                $('.goods:not(.goods-useless)').each(function () {
                    var $check=$(this).find('.check input'),
                    $price=$(this).find('.price'),
                    $count=$(this).find('.count-input'),
                    unitp=parseFloat($(this).find('.unitprice').text()),
                    num=parseInt($count.val());
                    var price=unitp*num;
                    $price.text(price.toFixed(2)); //设置单个商品总价
                    totalNum+=num;
                    if ($check.is(':checked')) {
                        selectNum+=num;
                        totalPrice+=price;
                        checkNum+=1;
                    }

                });
                $('#selectedNum').text(selectNum);
                $('#totalNum').text(totalNum);
                $('#totalMoney').text(totalPrice.toFixed(2));
                if (itemlen==0) {return false;}
                if (checkNum<itemlen) {
                    $('#checkall').iCheck('uncheck');
                }
                else {
                   $('#checkall').iCheck('check');
               }
             }
             function shopaccess () {
                $('.shop').each(function(index, el) {
                    var next=$(this).parents('tbody').next('tbody');
                    if (next.find('.goods:not(.goods-useless)').length<=0) {
                        $(this).find('.check input').iCheck('disable');
                        return;
                    }
                });
             }
             function shopcheck (obj) {
                var shop=obj.prev('tbody').find('.shop'),
                    goods=obj.find('.goods:not(.goods-useless)'),
                    len=goods.length,
                    cur=0;
                    goods.each(function(index, el) {
                        if ($(this).find('.check input').is(':checked')) {
                            cur++;
                        }
                    });
                    if (cur==len) {
                        shop.find('.check input').iCheck('check')
                    }
                    else {
                        shop.find('.check input').iCheck('uncheck')
                    }
             }

             $('.count-input').on('change blur',function () {
                    caculate();
             });
             $('.mod-numbox span').on('click',function () {
                    caculate();
             });
             box.find('.goods .check input').on('ifToggled',function () {
                    caculate();
                    var gbox=$(this).parents('tbody');
                    shopcheck(gbox);
             });


            caculate();
            shopaccess();
        }
</script>
<script >
    $(function () {

        $('.mod-numbox').goodsCount(); //数量加减
        $('.check input').iCheck({
            checkboxClass: 'sty1-checkbox'
        });

        +function () {
            var box=$('.cart-table');
            function caculate () {
                var selectNum=0,
                totalNum=0,
                totalPrice=0;
                checkNum=0,
                itemlen=box.find('.goods:not(.goods-useless)').length;
                $('.goods:not(.goods-useless)').each(function () {
                    var $check=$(this).find('.check input'),
                    $price=$(this).find('.price'),
                    $count=$(this).find('.count-input'),
                    unitp=parseFloat($(this).find('.unitprice').text()),
                    num=parseInt($count.val());
                    var price=unitp*num;
                    $price.text(price.toFixed(2)); //设置单个商品总价
                    totalNum+=num;
                    if ($check.is(':checked')) {
                        selectNum+=num;
                        totalPrice+=price;
                        checkNum+=1;
                    }

                });
                $('#selectedNum').text(selectNum);
                $('#totalNum').text(totalNum);
                $('#totalMoney').text(totalPrice.toFixed(2));
                if (itemlen==0) {return false;}
                if (checkNum<itemlen) {
                    $('#checkall').iCheck('uncheck');
                }
                else {
                   $('#checkall').iCheck('check');
               }
             }
             function shopaccess () {
                $('.shop').each(function(index, el) {
                    var next=$(this).parents('tbody').next('tbody');
                    if (next.find('.goods:not(.goods-useless)').length<=0) {
                        $(this).find('.check input').iCheck('disable');
                        return;
                    }
                });
             }
             function shopcheck (obj) {
                var shop=obj.prev('tbody').find('.shop'),
                    goods=obj.find('.goods:not(.goods-useless)'),
                    len=goods.length,
                    cur=0;
                    goods.each(function(index, el) {
                        if ($(this).find('.check input').is(':checked')) {
                            cur++;
                        }
                    });
                    if (cur==len) {
                        shop.find('.check input').iCheck('check')
                    }
                    else {
                        shop.find('.check input').iCheck('uncheck')
                    }
             }

             $('.count-input').on('change blur',function () {
                    caculate();
             });
             $('.mod-numbox span').on('click',function () {
                    caculate();
             });
             box.find('.goods .check input').on('ifToggled',function () {
                    caculate();
                    var gbox=$(this).parents('tbody');
                    shopcheck(gbox);
             });
             $('#checkall').on('ifClicked',function () {
                //全选
                if ($(this).is(':checked')) {
                    $('.check input').iCheck('uncheck');
                }
                else {
                    $('.check input').iCheck('check');
                }
                caculate();
             })

             box.find('.shop .check input').on('ifClicked',function () {
                //店铺全选

                var curItem=$(this).parents('tbody').next('tbody').find('.goods');

                if ($(this).is(':checked')) {
                    curItem.find('.check input').iCheck('uncheck');
                }
                else {
                    curItem.find('.check input').iCheck('check');
                }
                caculate();
             });
             //删除
             $('.goods .del').on('click',function () {
                    var self=$(this),
                    shop=self.parents('tbody').prev('tbody'),
                    gbox=self.parents('tbody');
                    // 获取商品详情id
                    console.log($(this).attr('propid'));
                    propid = $(this).attr('propid');
                    $.ajax({
                        type: "POST",
                        url: "{:U('Cart/cartDel')}",
                        data: {propid:propid},
                        dataType: "json",
                        success: function(msg){
                            if (msg.status === 1) {
                                // 删除这个div
                                self.parents('.goods').remove();
                                var len=gbox.find('.goods').length;
                                if (len<=0) {
                                   shop.remove();
                                }
                                caculate();
                                shopaccess();
                                shopcheck(gbox);
                            } else {
                                alert('数据异常,请刷新页面');
                            }
                          
                        }

                    });
                    // 删除这个div
                    self.parents('.goods').remove();
                    var len=gbox.find('.goods').length;
                    if (len<=0) {
                       shop.remove();
                    }
                    if (($(".goods").length) === 0) {
                        location.reload();
                    }
                    caculate();
                    shopaccess();
                    shopcheck(gbox);
             });
            box.find('.check input').iCheck('check',true);//初始化全选测试
            caculate();
            shopaccess();
        }();


        //结算固定显示
        $(window).on('load resize scroll',function () {
            var bar=$('.cart-total'),
            barH=bar.outerHeight(),
            barWrap=bar.parent(),
            otop=barWrap.offset().top,
            oleft=barWrap.offset().left,
            sTop=$(this).scrollTop(),
            wh=$(this).height();
            if (sTop+wh-barH<otop) {
                bar.addClass('fixed');
                var left2=oleft-$(this).scrollLeft()
                bar.css('left',left2);
            }
            else {
                bar.removeClass('fixed');
            }
        });
    });
window.onload = function() {
    $('input').iCheck('uncheck');
}
</script>
</html>