<extend name='Common/first' />
<block name='title'>   
    <title>注册</title>
 </block>
<block name='main'>
    <div class="main-wrap">
        <div class="wrapper">
            <div class="center-box">
                <form action="" method="post">
                    <div class="box-hd">
                        <span class="tit">重置密码</span>
                    </div>
                    <input class="txtin" type="hidden" name="id" value={$id} />
                    <label class="txtin-box">
                        <input class="txtin" type="password" name="pass" placeholder="输入密码" />
                    </label>
                    <label class="txtin-box">
                        <input class="txtin" type="password" name="pass2" placeholder="确认密码" />
                    </label>

                    <input class="tj" type="submit" value="注&ensp;册" />

                </form>
            </div>
        </div>
    </div>
    <div class="login-footer">
        安徽XXX网络科技有限公司 版权所有 Copyright © 2016-2018   备案号：皖ICP备123456789
        <div class="authentication">
            <a href=""><img src="uploads/35.jpg" alt="" /></a>
            <a href=""><img src="uploads/36.jpg" alt="" /></a>
            <a href=""><img src="uploads/37.jpg" alt="" /></a>
            <a href=""><img src="uploads/38.jpg" alt="" /></a>
        </div>
    </div>
</body>
</block>
