<extend name="Common/index" />
<block name="main">
    <div class="wrapper uc-router">
        <ul>
            <li><a href="">首页</a></li>
            <li><span class="divider"></span></li>
            <li><span>个人中心</span></li>
        </ul>
    </div>

    <div class="wrapper">
        <div class="uc-main clearfix">
            <div class="uc-aside">
                <div class="uc-menu">
                    <div class="tit">订单中心</div>
                    <ul class="sublist">
                        <li><a href="{:U('Order/allOrder')}">我的订单</a></li>
                        <li><a href="{:U('User/favorite')}">我的收藏</a></li>
                        <li><a href="{:U('History/index')}">浏览历史</a></li>
                        <li><a href="{:U('Score/index')}">个人积分</a></li>
                    </ul>
                    <div class="tit">客户服务</div>
                    <ul class="sublist">
                        <li><a href="{:U('Order/comeBackInfo')}">退货中心</a></li>
                    </ul>
                    <div class="tit">账户中心</div>
                    <ul class="sublist">
                        <li><a href="{:U('User/userInfo')}">账户信息</a></li>
                        <li><a href="{:U('User/safe')}">账户安全</a></li>
                        <li><a href="{:U('Address/index')}">收货地址</a></li>
                    </ul>
                    <div class="tit">消息中心</div>
                    <ul class="sublist">
                        <li><a href="{:U('Order/waitEvaluate')}">商品评价</a></li>
                        <li><a href="{:U('Message/index')}">站内消息</a></li>
                    </ul>
                </div>
            </div>
            <div class="uc-content">
                <div class="uc-panel">
                    <div class="uc-bigtit bd-b">账号安全</div>
                    <div class="uc-panel-bd">

                        <div class="verify-step mt20">
                            <div class="item item-f">
                                <i></i>1.验证身份
                            </div>
                            <div class="item item-m active">
                                <i></i>2.设置新密码
                            </div>
                            <div class="item item-l">
                                3.完成
                            </div>
                        </div>

                        <div class="verify-panel mt10">
                            <form action="" method="post">
                                <div class="inner-box">
                                    <div class="control-group">
                                        <div class="hd">新登录密码：</div>
                                        <div class="bd">
                                            <input style="width: 220px;" class="ui-txtin" type="password" name="pass" />
                                        </div>
                                    </div>
                                    <div class="control-group mt30">
                                        <div class="hd">确认新密码：</div>
                                        <div class="bd">
                                            <input style="width: 220px;" class="ui-txtin" type="password" name="pass2" />
                                        </div>
                                    </div>
                                    <div class="submit-group mt30">
                                        <button class="ui-btn-theme uc-btn-md">下一步</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>