<!--头部--> 
    <div id="M_PC_top_nav">
        <div id="M_PC_top_nav_container">
            <div class="inner"> 
                <ul> 
                    <li class="go-home"> 
                        <a href="#"> 
                            <em class="home">
                            </em>首页
                        </a> 
                    </li> 
                    <if condition="!empty(session('userinfo'))">
                    <li class="drop"> 
                        <a href="#" class="nick" target="_blank"> 
                            <!-- 小头像 -->
                            <!-- <img class="face" src="http://s3.mogucdn.com/mlcdn/5abf39/171113_0dfdg281dl3ilda0h7kc64i41hbak_640x640.jpg"> --> 
                            <img class="face" src="__PUBLIC__/1.png">{:session('userinfo.username')} 
                            <em class="arrow">
                            </em> 
                        </a> 
                        <ul class="down account"> 
                            <li> 
                                <a href="#" target="_blank"> 个人中心 </a> 
                            </li> 
                            <li>
                                <!-- 退出登录 -->
                                <a href="{:U('Cart/logout')}"> 退出 </a>
                            </li> 
                        </ul> 
                    </li> 
                    <li class="drop"> 
                        <a href="#" target="_blank"> 
                            <em class="collect">
                            </em>我的收藏 
                        </a> 
                        <!-- <ul class="down"> 
                            <li>
                                <a href="#" target="_blank"> 收藏宝贝 </a>
                            </li> 
                        </ul>  -->
                    </li>
                    <else/>
                    <li> <a href="#"><em class="weixin"></em>微信登录</a> </li>
                    <li> <a href="#"> <em class="qq"></em>QQ登录</a> </li>
                    <li> <a href="{:U('Cart/login')}">登录</a> </li>
                    <li> <a href="#">注册</a> </li>
                    </if>  
                    <li class="drop cart-wrapper"> 
                        <a target="_blank" href="{:U('Cart/index')}" class="my-cart"> 
                            <em class="cart">
                            </em>我的购物车  
                            <!-- 下面是提示购物车件数 空的时候不输出 -->
                            <if condition="$total neq '0' and $total neq ''">
                            <span class="cart-num">{$total}</span>
                            </if>
                        </a>  
                        <!-- 这里是购物车显示的部分 -->
                        <div class="down"> 
                            <!-- 购物车空的时候输出 -->
                            <!-- <div class="shop_cart_info empty_cart" style="display: block;">购物车里没有商品！</div> -->
                            <ul class="cart-goods">
                                <li> 
                                    <a href="#" target="_blank" style="padding: 0; float: left;"> 
                                        <span class="cart-goods-img" style="background-image: url(http://s3.mogucdn.com/mlcdn/917393/171027_84b4haghacbbebceieb81f5i8hd4k_1600x2250.jpg)">
                                        </span> 
                                    </a> 
                                    <div class="cart-goods-desc"> 
                                        <p> 
                                            <a href="#" target="_blank" style="padding: 0; float: left;"> 
                                                <span class="cart-goods-title">秋冬新款韩版甜美风高领针织衫两件套套装</span> 
                                            </a> 
                                            <span class="cart-goods-price">￥99 </span> 
                                        </p> 
                                        <p class="cart-goods-info"> 
                                            <span class="cart-goods-title">  
                                                <span>颜色:粉色 </span> &nbsp;&nbsp;  
                                                <span>尺码:均码 </span> &nbsp;&nbsp;  
                                            </span> 
                                            <em class="del-cart-goods" data-stock="1weod5s"></em> 
                                        </p> 
                                    </div>
                                </li>
                            </ul> 
                            <p class="cart-account"> 
                                <span>购物车里还有
                                    <a class="num" href="#" target="_blank"> 1 </a>件商品
                                </span> 
                                <a class="check-cart" href="#" target="_blank" data-ptp-cache-id="1.XLXCOb.0.0.gQlG3wL">查看购物车</a>
                            </p> 
                        </div>  
                    </li> 
                    <li> 
                        <a href="#" target="_blank" data-ptp-cache-id="1.zfrD1b.0.0.B6rzP"> 
                            <em class="order">
                            </em>我的订单
                        </a>
                    </li> 
                    <li class="drop"> 
                        <a target="_blank">帮助中心
                            <em class="arrow">
                            </em>
                        </a> 
                        <ul class="down"> 
                            <li>
                                <a href="http://www.meilishuo.com/helpcenter/buyerService/" target="_blank">买家服务
                                </a>
                            </li> 
                            <li>
                                <a href="http://service.meilishuo.com/" target="_blank">商家服务
                                </a>
                            </li> 
                            <li>
                                <a href="http://www.meilishuo.com/helpcenter/ruleCenter/" target="_blank">规则中心
                                </a>
                            </li> 
                        </ul> 
                    </li> 
                    <li>
                        <a href="#" target="_blank" class="last">商家后台</a>
                    </li> 
                </ul> 
            </div>
        </div>
    </div>
<!--头部结束-->
